@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #edf0f1;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.navbar{
    width: 100%;
    height: 9%;
    background-color: black;
    position: fixed;
    top: 0;
}
.navbar img{
    height: 100%;
    padding: 0 20px;
}
.navbar li, a, button{
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    color: #edf0f1;
    list-style-type: none;
    margin: 10px 5px;
    padding: 0px 5px;
    text-align: center;
}
.navbar ul{
    margin-right: 1em;
}
.navbar li{
    display: inline-block;
}
nav{
    display: block;
}

.contact{
    background-color: rgb(177, 37, 43, 1);
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease 0s;
}
.contact:hover{
    background-color: rgb(177, 37, 43, 0.8);
}
#hero{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .65) url("hero.jpg");
    background-blend-mode: darken;
    background-position: center;
}
.hero-text{
    font-size: 2em;
    position: absolute;
    padding: 10px;
    left: 15%;
    top: 40%;
    width: 35%;
    text-shadow: 1px 1px black;
    text-align: center;
    background: url(hero-text-background.svg);
    background-repeat: no-repeat;
    background-size: 100% 65%;
}
#hero span{
    font-size: 2.5rem;
}
.logo{
    cursor: pointer;
}
.about{
    background: #18191A;
    max-width: 100%;
    padding: 3em 15em 3em 15em;
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.about-img{
    min-width:40%;
    max-width: 40%;
    object-fit: contain;
    border-radius: 50px;
    background: #1c1d1e;
    box-shadow:  20px 20px 60px #141516,
             -20px -20px 60px #1c1d1e;
}
.about-text{
    max-width: 50%
}
.about-container{
    padding-left: 5rem;
}
.about-container h1{
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.about-container p{
    color: #B0B3B8;
    font-size: 2rem;
    font-weight: 900;
}
.about-icons{
    padding-top:2em;
    padding-bottom: 2em;
    font-size: 1.5rem;
}
.about-icons-column:nth-child(2){
    border-left: solid 1px #90252b;
    border-right: solid 1px #90252b;
}
.about-icons i{
    padding-bottom: 0.5em;
}